<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAJVYCagPePeN1REdrmFaoXParUpIEtDjI</string>
	<key>GCM_SENDER_ID</key>
	<string>985070856852</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>th.ac.ku.ske.WishMaker</string>
	<key>PROJECT_ID</key>
	<string>wish-maker-410ba</string>
	<key>STORAGE_BUCKET</key>
	<string>wish-maker-410ba.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:985070856852:ios:38681e3d67504879692281</string>
</dict>
</plist>